SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@empresa.com.br
SMTP_PASSWORD=sua_senha_ou_app_password
EMAIL_ADIANTAMENTOS=adiantamentos@empresa.com.br
EMAIL_FINANCEIRO=financeiro@empresa.com.br
